/* Empty. Add your own CSS if you like */
@font-face {
 font-family: 'thaisans';
 src:url('../file/fonts/thaisanslite_r1-webfont.eot');
 src:url('../file/fonts/thaisanslite_r1-webfont.eot?iefix') format('eot'),
     url('../file/fonts/thaisanslite_r1-webfont.woff') format('woff'),
     url('../file/fonts/thaisanslite_r1-webfont.ttf') format('truetype'),
     url('../file/fonts/thaisanslite_r1-webfont.svg#webfontCXAunSZT') 
     format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'champagne';
 src:url('../file/fonts/champagne__limousines-webfont.eot');
 src:url('../file/fonts/champagne__limousines-webfont.eot?iefix') format('eot'),
     url('../file/fonts/champagne__limousines-webfont.woff') format('woff'),
     url('../file/fonts/champagne__limousines-webfont.ttf') format('truetype'),
     url('../file/fonts/champagne__limousines-webfont.svg#webfontCXAunSZT') 
     format('svg');
 font-weight: normal;
 font-style: normal;
}

*{
	font-family: thaisans !important;
}

.thin-font{
	font-family: champagne !important;
}

.center{
	text-align: center;
	
}

.fullchoice{
 	display: block;
	margin-right: 0;
	margin-left: 0;
	border-right-width: 0;
	border-left-width: 0;
	border-radius: 0; 
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
	text-decoration: none;
	font-size: 2em;
	color: black;
	text-shadow: 0 0 10px white;
	white-space: nowrap;
}

.fullchoice>a{
	width: 100%;
}
.fullchoice:nth-of-type(1){
	/*background: repeating-linear-gradient(
	  45deg,
	  #FFA39E,
	  #FFA39E 10px,
	  #FF8A83 10px,
	  #FF8A83 20px
	);*/
	/*border-left: 0.5em solid #FF4741;*/
    background-color: rgba(254, 95, 95, 0.5);
    border-bottom: 5px solid rgba(254, 46, 46, 0.5);
}

.fullchoice:nth-of-type(1) > .choice-name:before{
    content: "A";
}

.fullchoice:nth-of-type(1) > .choice-name{
    background-color: rgba(254, 95, 95, 1);
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
    /*background-color: #3498db; /* teal */*/
    /*height: 150px;*/
    /*width: 150px;*/
    font-size: 100px;
    /*line-height: 150px;*/
    text-align: center;
    display: block;
    overflow: hidden;
    text-shadow: rgba(254, 46, 46, 1) 1px 1px,
    rgba(254, 46, 46, 1) 2px 2px,
    rgba(254, 46, 46, 1) 3px 3px,
    rgba(254, 46, 46, 1) 4px 4px,
    rgba(254, 46, 46, 1) 5px 5px,
    rgba(254, 46, 46, 1) 6px 6px,
    rgba(254, 46, 46, 1) 7px 7px,
    rgba(254, 46, 46, 1) 8px 8px,
    rgba(254, 46, 46, 1) 9px 9px,
    rgba(254, 46, 46, 1) 10px 10px,
    rgba(254, 46, 46, 1) 11px 11px,
    rgba(254, 46, 46, 1) 12px 12px,
    rgba(254, 46, 46, 1) 13px 13px,
    rgba(254, 46, 46, 1) 14px 14px,
    rgba(254, 46, 46, 1) 15px 15px,
    rgba(254, 46, 46, 1) 16px 16px,
    rgba(254, 46, 46, 1) 17px 17px,
    rgba(254, 46, 46, 1) 18px 18px,
    rgba(254, 46, 46, 1) 19px 19px,
    rgba(254, 46, 46, 1) 20px 20px,
    rgba(254, 46, 46, 1) 21px 21px,
    rgba(254, 46, 46, 1) 22px 22px,
    rgba(254, 46, 46, 1) 23px 23px,
    rgba(254, 46, 46, 1) 24px 24px,
    rgba(254, 46, 46, 1) 25px 25px,
    rgba(254, 46, 46, 1) 26px 26px,
    rgba(254, 46, 46, 1) 27px 27px,
    rgba(254, 46, 46, 1) 28px 28px,
    rgba(254, 46, 46, 1) 29px 29px,
    rgba(254, 46, 46, 1) 30px 30px,
    rgba(254, 46, 46, 1) 31px 31px,
    rgba(254, 46, 46, 1) 32px 32px,
    rgba(254, 46, 46, 1) 33px 33px,
    rgba(254, 46, 46, 1) 34px 34px,
    rgba(254, 46, 46, 1) 35px 35px,
    rgba(254, 46, 46, 1) 36px 36px,
    rgba(254, 46, 46, 1) 37px 37px,
    rgba(254, 46, 46, 1) 38px 38px,
    rgba(254, 46, 46, 1) 39px 39px,
    rgba(254, 46, 46, 1) 40px 40px,
    rgba(254, 46, 46, 1) 41px 41px,
    rgba(254, 46, 46, 1) 42px 42px,
    rgba(254, 46, 46, 1) 43px 43px,
    rgba(254, 46, 46, 1) 44px 44px,
    rgba(254, 46, 46, 1) 45px 45px,
    rgba(254, 46, 46, 1) 46px 46px,
    rgba(254, 46, 46, 1) 47px 47px,
    rgba(254, 46, 46, 1) 48px 48px,
    rgba(254, 46, 46, 1) 49px 49px,
    rgba(254, 46, 46, 1) 50px 50px,
    rgba(254, 46, 46, 1) 51px 51px,
    rgba(254, 46, 46, 1) 52px 52px,
    rgba(254, 46, 46, 1) 53px 53px,
    rgba(254, 46, 46, 1) 54px 54px,
    rgba(254, 46, 46, 1) 55px 55px,
    rgba(254, 46, 46, 1) 56px 56px,
    rgba(254, 46, 46, 1) 57px 57px,
    rgba(254, 46, 46, 1) 58px 58px,
    rgba(254, 46, 46, 1) 59px 59px,
    rgba(254, 46, 46, 1) 60px 60px,
    rgba(254, 46, 46, 1) 61px 61px,
    rgba(254, 46, 46, 1) 62px 62px,
    rgba(254, 46, 46, 1) 63px 63px,
    rgba(254, 46, 46, 1) 64px 64px,
    rgba(254, 46, 46, 1) 65px 65px,
    rgba(254, 46, 46, 1) 66px 66px,
    rgba(254, 46, 46, 1) 67px 67px,
    rgba(254, 46, 46, 1) 68px 68px,
    rgba(254, 46, 46, 1) 69px 69px,
    rgba(254, 46, 46, 1) 70px 70px,
    rgba(254, 46, 46, 1) 71px 71px,
    rgba(254, 46, 46, 1) 72px 72px,
    rgba(254, 46, 46, 1) 73px 73px,
    rgba(254, 46, 46, 1) 74px 74px,
    rgba(254, 46, 46, 1) 75px 75px,
    rgba(254, 46, 46, 1) 76px 76px,
    rgba(254, 46, 46, 1) 77px 77px,
    rgba(254, 46, 46, 1) 78px 78px,
    rgba(254, 46, 46, 1) 79px 79px,
    rgba(254, 46, 46, 1) 80px 80px,
    rgba(254, 46, 46, 1) 81px 81px,
    rgba(254, 46, 46, 1) 82px 82px,
    rgba(254, 46, 46, 1) 83px 83px,
    rgba(254, 46, 46, 1) 84px 84px,
    rgba(254, 46, 46, 1) 85px 85px,
    rgba(254, 46, 46, 1) 86px 86px,
    rgba(254, 46, 46, 1) 87px 87px,
    rgba(254, 46, 46, 1) 88px 88px,
    rgba(254, 46, 46, 1) 89px 89px,
    rgba(254, 46, 46, 1) 90px 90px,
    rgba(254, 46, 46, 1) 91px 91px,
    rgba(254, 46, 46, 1) 92px 92px,
    rgba(254, 46, 46, 1) 93px 93px,
    rgba(254, 46, 46, 1) 94px 94px,
    rgba(254, 46, 46, 1) 95px 95px,
    rgba(254, 46, 46, 1) 96px 96px,
    rgba(254, 46, 46, 1) 97px 97px,
    rgba(254, 46, 46, 1) 98px 98px,
    rgba(254, 46, 46, 1) 99px 99px,
    rgba(254, 46, 46, 1) 100px 100px;
}



.fullchoice:nth-of-type(2){
    /*background-color: #FFD591;*/
    /*background: repeating-linear-gradient(
      45deg,
      #FFD591,
      #FFD591 10px,
      #FFC86E 10px,
      #FFC86E 20px
    );*/
    background-color: rgba(241, 196, 15,0.5);
    border-bottom: 5px solid rgba(243, 156, 18,0.5);

}

.fullchoice:nth-of-type(2) > .choice-name:before{
    content: "B";
}

.fullchoice:nth-of-type(2) > .choice-name{
    background-color: rgba(241, 196, 15,1);
}


.fullchoice:nth-of-type(3){
	/*background-color: #98E881;*/
	/*background: repeating-linear-gradient(
	  45deg,
	  #98E881,
	  #98E881 10px,
	  #78E844 10px,
	  #78E844 20px
	);*/
	background-color: rgba(46, 204, 113,0.5);
    border-bottom: 5px solid rgba(39, 174, 96,0.5);
}

.fullchoice:nth-of-type(3) > .choice-name:before{
    content: "C";
}

.fullchoice:nth-of-type(3) > .choice-name{
    background-color: rgba(46, 204, 113,1);
}

.fullchoice:nth-of-type(4){
	/*background-color: #9AE8DE;*/
	/*background: repeating-linear-gradient(
	  45deg,
	  #9AE8DE,
	  #9AE8DE 10px,
	  #50E8C9 10px,
	  #50E8C9 20px
	);*/
	background-color: rgba(52, 152, 219,0.5);
    border-bottom: 5px solid rgba(41, 128, 185,0.5);
}

.fullchoice:nth-of-type(4) > .choice-name:before{
    content: "D";
}

.fullchoice:nth-of-type(4) > .choice-name{
    background-color: rgba(52, 152, 219,1);
}

.question{
	/*background: rgb(255,255,255); 
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 17%, rgba(201,201,201,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,rgba(255,255,255,1)), color-stop(100%,rgba(201,201,201,1))); 
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 17%,rgba(201,201,201,1) 100%); 
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 17%,rgba(201,201,201,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 17%,rgba(201,201,201,1) 100%); 
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 17%,rgba(201,201,201,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9',GradientType=0 ); */
	/*margin-top: 0.2em !important;*/
    background-color: rgba(236, 240, 241, 0.7);
    border-bottom: 5px solid rgba(189, 195, 199, 0.7);
	padding: 0.3em 0.1em 0.3em 0.1em;
	margin-bottom: 0;
}

.box-set{	
	padding: 0.5em 0.2em 0.5em 0.2em;
	margin: 0;
	text-shadow: 0 0 5px white;
}

.light-yellow{
	background-color: #FACA70;
}

.mid-yellow{
	background-color: #FCB623;	

}

.strip-yellow{
	background: repeating-linear-gradient(
	  45deg,
	  #FACA70,
	  #FACA70 8px,
	  #FCB623 8px,
	  #FCB623 16px
	);
	border-left: 0.2em solid #FCB623;
}
.under-yellow{
	border-bottom: 0.2em solid #FCB623;
}

.icon-sign{
	font-size: 15em;	
	color: white;
	/*text-shadow: 6px 6px 0px #F82014;*/
	text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.strip-red{
	background: repeating-linear-gradient(
	  45deg,
	  #FFA39E,
	  #FFA39E 10px,
	  #FF8A83 10px,
	  #FF8A83 20px
	);

	border-bottom: 0.2em solid #FF4741;	
}

.strip-blue{
	background: repeating-linear-gradient(
	  45deg,
	  #9AE8DE,
	  #9AE8DE 10px,
	  #50E8C9 10px,
	  #50E8C9 20px
	);
}

.mid-blue{
	background-color: #50E8C9;
}

.under-blue{	
	border-bottom: 0.2em solid #50E8C9;
}

.strip-green{
	background: repeating-linear-gradient(
	  45deg,
	  #98E881,
	  #98E881 10px,
	  #78E844 10px,
	  #78E844 20px
	);
	border-bottom: 0.2em solid #78E844;
	font-size: 2em;

}

.strip-dark-blue{
	background: repeating-linear-gradient(
	  45deg,
	  #001AFD ,
	  #001AFD 8px,
	  #000F91 8px,
	  #000F91 16px
	);
	border-bottom: 0.2em solid #000F91;
	font-size: 2em;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.fixed {
	position: fixed;
}

.start-button{
	color:#9AEF3D;
	font-size: 25em;
	text-shadow: 0 1px 0 #84EA13, 
               0 2px 0 #7EE012,
               0 3px 0 #71C910,
               0 4px 0 #65B40E,
               0 5px 0 #5CA40D,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.huge-text{
	font-size: 4em;
	color:white;
	height: 1em;
	line-height: 1em;
    z-index: 10;
    text-decoration: none;
    text-overflow: ellipsis;
    
}

.medium-text{
    font-size: 2.5em;
    color:white;
    height: 1em;
    line-height: 1em;
    z-index: 10;
    text-decoration: none;
    text-overflow: ellipsis;
    
}

.title-text{
    font-size: 1.8em;
    color:white;
    height: 1em;
    line-height: 1em;
    z-index: 10;
    text-decoration: none;
    text-overflow: ellipsis;
    
}



.align-left{
	text-align: left;
}

.align-right{
    text-align: right;
}

.align-center{
	text-align: center;
}

.float-left{
	float:left;
}

.float-right{
    float:right;
}

.clear{
	clear:both;
}
.full-width{
	width:100%;
}

.clear-search {
  font-size: 18px;
}

.mark-result {
	/*height: 1.5em;*/
	top: 0;
	width: 100%;
	margin: 0 !important;
	color: rgba(0,0,0,0);
}

#progressbar {
  padding: 3px;
  margin: 5px;
  border: 2px solid #3795F2;
}

#progressbar > div {
   background-color: #3795F2;
   width: 0%; /* Adjust with JavaScript */
   height: 20px;
}

.blue-square{
	/*background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #70D8F5),
		color-stop(1, #2197FF)
	);
	background-image: -o-linear-gradient(bottom, #70D8F5 0%, #2197FF 100%);
	background-image: -moz-linear-gradient(bottom, #70D8F5 0%, #2197FF 100%);
	background-image: -webkit-linear-gradient(bottom, #70D8F5 0%, #2197FF 100%);
	background-image: -ms-linear-gradient(bottom, #70D8F5 0%, #2197FF 100%);
	background-image: linear-gradient(to bottom, #70D8F5 0%, #2197FF 100%);
*/
	background-color: #3498DB;
	border-bottom: 5px solid #2990B9;
	/*-moz-box-shadow:     0 0 10px #000000;
   -webkit-box-shadow:  0 0 10px #000000;
   box-shadow:          0 0 10px #000000;*/
}

.green-square{
	/*background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #A1F570),
		color-stop(1, #46FF21)
	);
	background-image: -o-linear-gradient(bottom, #A1F570 0%, #46FF21 100%);
	background-image: -moz-linear-gradient(bottom, #A1F570 0%, #46FF21 100%);
	background-image: -webkit-linear-gradient(bottom, #A1F570 0%, #46FF21 100%);
	background-image: -ms-linear-gradient(bottom, #A1F570 0%, #46FF21 100%);
	background-image: linear-gradient(to bottom, #A1F570 0%, #46FF21 100%);
*/
	background-color: #2ECC71;
	border-bottom: 5px solid #27AE60;
	/*-moz-box-shadow:     0 0 10px #000000;
   -webkit-box-shadow:  0 0 10px #000000;
   box-shadow:          0 0 10px #000000;*/
}

.yellow-square{
    background-color: #f1c40f;
    border-bottom: 5px solid #f39c12;
}

.on-left{
	left: 1em;
	text-align: left;
}



.fullchoice:nth-of-type(4) > .choice-name, .icon-shadow-blue {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
    /*background-color: #3498db; /* teal */*/
    /*height: 150px;*/
    /*width: 150px;*/
    text-align: center;
    display: block;
    overflow: hidden;

    text-shadow: #2980b9 1px 1px,
    #2980b9 2px 2px,
    #2980b9 3px 3px,
    #2980b9 4px 4px,
    #2980b9 5px 5px,
    #2980b9 6px 6px,
    #2980b9 7px 7px,
    #2980b9 8px 8px,
    #2980b9 9px 9px,
    #2980b9 10px 10px,
    #2980b9 11px 11px,
    #2980b9 12px 12px,
    #2980b9 13px 13px,
    #2980b9 14px 14px,
    #2980b9 15px 15px,
    #2980b9 16px 16px,
    #2980b9 17px 17px,
    #2980b9 18px 18px,
    #2980b9 19px 19px,
    #2980b9 20px 20px,
    #2980b9 21px 21px,
    #2980b9 22px 22px,
    #2980b9 23px 23px,
    #2980b9 24px 24px,
    #2980b9 25px 25px,
    #2980b9 26px 26px,
    #2980b9 27px 27px,
    #2980b9 28px 28px,
    #2980b9 29px 29px,
    #2980b9 30px 30px,
    #2980b9 31px 31px,
    #2980b9 32px 32px,
    #2980b9 33px 33px,
    #2980b9 34px 34px,
    #2980b9 35px 35px,
    #2980b9 36px 36px,
    #2980b9 37px 37px,
    #2980b9 38px 38px,
    #2980b9 39px 39px,
    #2980b9 40px 40px,
    #2980b9 41px 41px,
    #2980b9 42px 42px,
    #2980b9 43px 43px,
    #2980b9 44px 44px,
    #2980b9 45px 45px,
    #2980b9 46px 46px,
    #2980b9 47px 47px,
    #2980b9 48px 48px,
    #2980b9 49px 49px,
    #2980b9 50px 50px,
    #2980b9 51px 51px,
    #2980b9 52px 52px,
    #2980b9 53px 53px,
    #2980b9 54px 54px,
    #2980b9 55px 55px,
    #2980b9 56px 56px,
    #2980b9 57px 57px,
    #2980b9 58px 58px,
    #2980b9 59px 59px,
    #2980b9 60px 60px,
    #2980b9 61px 61px,
    #2980b9 62px 62px,
    #2980b9 63px 63px,
    #2980b9 64px 64px,
    #2980b9 65px 65px,
    #2980b9 66px 66px,
    #2980b9 67px 67px,
    #2980b9 68px 68px,
    #2980b9 69px 69px,
    #2980b9 70px 70px,
    #2980b9 71px 71px,
    #2980b9 72px 72px,
    #2980b9 73px 73px,
    #2980b9 74px 74px,
    #2980b9 75px 75px,
    #2980b9 76px 76px,
    #2980b9 77px 77px,
    #2980b9 78px 78px,
    #2980b9 79px 79px,
    #2980b9 80px 80px,
    #2980b9 81px 81px,
    #2980b9 82px 82px,
    #2980b9 83px 83px,
    #2980b9 84px 84px,
    #2980b9 85px 85px,
    #2980b9 86px 86px,
    #2980b9 87px 87px,
    #2980b9 88px 88px,
    #2980b9 89px 89px,
    #2980b9 90px 90px,
    #2980b9 91px 91px,
    #2980b9 92px 92px,
    #2980b9 93px 93px,
    #2980b9 94px 94px,
    #2980b9 95px 95px,
    #2980b9 96px 96px,
    #2980b9 97px 97px,
    #2980b9 98px 98px,
    #2980b9 99px 99px,
    #2980b9 100px 100px;
}

.fullchoice:nth-of-type(3) > .choice-name, .icon-shadow-green {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: block;
    overflow: hidden;

    text-shadow: #27ae60 1px 1px,
    #27ae60 2px 2px,
    #27ae60 3px 3px,
    #27ae60 4px 4px,
    #27ae60 5px 5px,
    #27ae60 6px 6px,
    #27ae60 7px 7px,
    #27ae60 8px 8px,
    #27ae60 9px 9px,
    #27ae60 10px 10px,
    #27ae60 11px 11px,
    #27ae60 12px 12px,
    #27ae60 13px 13px,
    #27ae60 14px 14px,
    #27ae60 15px 15px,
    #27ae60 16px 16px,
    #27ae60 17px 17px,
    #27ae60 18px 18px,
    #27ae60 19px 19px,
    #27ae60 20px 20px,
    #27ae60 21px 21px,
    #27ae60 22px 22px,
    #27ae60 23px 23px,
    #27ae60 24px 24px,
    #27ae60 25px 25px,
    #27ae60 26px 26px,
    #27ae60 27px 27px,
    #27ae60 28px 28px,
    #27ae60 29px 29px,
    #27ae60 30px 30px,
    #27ae60 31px 31px,
    #27ae60 32px 32px,
    #27ae60 33px 33px,
    #27ae60 34px 34px,
    #27ae60 35px 35px,
    #27ae60 36px 36px,
    #27ae60 37px 37px,
    #27ae60 38px 38px,
    #27ae60 39px 39px,
    #27ae60 40px 40px,
    #27ae60 41px 41px,
    #27ae60 42px 42px,
    #27ae60 43px 43px,
    #27ae60 44px 44px,
    #27ae60 45px 45px,
    #27ae60 46px 46px,
    #27ae60 47px 47px,
    #27ae60 48px 48px,
    #27ae60 49px 49px,
    #27ae60 50px 50px,
    #27ae60 51px 51px,
    #27ae60 52px 52px,
    #27ae60 53px 53px,
    #27ae60 54px 54px,
    #27ae60 55px 55px,
    #27ae60 56px 56px,
    #27ae60 57px 57px,
    #27ae60 58px 58px,
    #27ae60 59px 59px,
    #27ae60 60px 60px,
    #27ae60 61px 61px,
    #27ae60 62px 62px,
    #27ae60 63px 63px,
    #27ae60 64px 64px,
    #27ae60 65px 65px,
    #27ae60 66px 66px,
    #27ae60 67px 67px,
    #27ae60 68px 68px,
    #27ae60 69px 69px,
    #27ae60 70px 70px,
    #27ae60 71px 71px,
    #27ae60 72px 72px,
    #27ae60 73px 73px,
    #27ae60 74px 74px,
    #27ae60 75px 75px,
    #27ae60 76px 76px,
    #27ae60 77px 77px,
    #27ae60 78px 78px,
    #27ae60 79px 79px,
    #27ae60 80px 80px,
    #27ae60 81px 81px,
    #27ae60 82px 82px,
    #27ae60 83px 83px,
    #27ae60 84px 84px,
    #27ae60 85px 85px,
    #27ae60 86px 86px,
    #27ae60 87px 87px,
    #27ae60 88px 88px,
    #27ae60 89px 89px,
    #27ae60 90px 90px,
    #27ae60 91px 91px,
    #27ae60 92px 92px,
    #27ae60 93px 93px,
    #27ae60 94px 94px,
    #27ae60 95px 95px,
    #27ae60 96px 96px,
    #27ae60 97px 97px,
    #27ae60 98px 98px,
    #27ae60 99px 99px,
    #27ae60 100px 100px;
}

.fullchoice:nth-of-type(2) > .choice-name, .icon-shadow-yellow {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
    /*background-color: #3498db; /* teal */*/
    /*height: 150px;*/
    /*width: 150px;*/
    /*font-size: 100px;*/
    line-height: 750px;
    text-align: center;
    display: block;
    overflow: hidden;

    text-shadow: #f39c12 1px 1px,
    #f39c12 2px 2px,
    #f39c12 3px 3px,
    #f39c12 4px 4px,
    #f39c12 5px 5px,
    #f39c12 6px 6px,
    #f39c12 7px 7px,
    #f39c12 8px 8px,
    #f39c12 9px 9px,
    #f39c12 10px 10px,
    #f39c12 11px 11px,
    #f39c12 12px 12px,
    #f39c12 13px 13px,
    #f39c12 14px 14px,
    #f39c12 15px 15px,
    #f39c12 16px 16px,
    #f39c12 17px 17px,
    #f39c12 18px 18px,
    #f39c12 19px 19px,
    #f39c12 20px 20px,
    #f39c12 21px 21px,
    #f39c12 22px 22px,
    #f39c12 23px 23px,
    #f39c12 24px 24px,
    #f39c12 25px 25px,
    #f39c12 26px 26px,
    #f39c12 27px 27px,
    #f39c12 28px 28px,
    #f39c12 29px 29px,
    #f39c12 30px 30px,
    #f39c12 31px 31px,
    #f39c12 32px 32px,
    #f39c12 33px 33px,
    #f39c12 34px 34px,
    #f39c12 35px 35px,
    #f39c12 36px 36px,
    #f39c12 37px 37px,
    #f39c12 38px 38px,
    #f39c12 39px 39px,
    #f39c12 40px 40px,
    #f39c12 41px 41px,
    #f39c12 42px 42px,
    #f39c12 43px 43px,
    #f39c12 44px 44px,
    #f39c12 45px 45px,
    #f39c12 46px 46px,
    #f39c12 47px 47px,
    #f39c12 48px 48px,
    #f39c12 49px 49px,
    #f39c12 50px 50px,
    #f39c12 51px 51px,
    #f39c12 52px 52px,
    #f39c12 53px 53px,
    #f39c12 54px 54px,
    #f39c12 55px 55px,
    #f39c12 56px 56px,
    #f39c12 57px 57px,
    #f39c12 58px 58px,
    #f39c12 59px 59px,
    #f39c12 60px 60px,
    #f39c12 61px 61px,
    #f39c12 62px 62px,
    #f39c12 63px 63px,
    #f39c12 64px 64px,
    #f39c12 65px 65px,
    #f39c12 66px 66px,
    #f39c12 67px 67px,
    #f39c12 68px 68px,
    #f39c12 69px 69px,
    #f39c12 70px 70px,
    #f39c12 71px 71px,
    #f39c12 72px 72px,
    #f39c12 73px 73px,
    #f39c12 74px 74px,
    #f39c12 75px 75px,
    #f39c12 76px 76px,
    #f39c12 77px 77px,
    #f39c12 78px 78px,
    #f39c12 79px 79px,
    #f39c12 80px 80px,
    #f39c12 81px 81px,
    #f39c12 82px 82px,
    #f39c12 83px 83px,
    #f39c12 84px 84px,
    #f39c12 85px 85px,
    #f39c12 86px 86px,
    #f39c12 87px 87px,
    #f39c12 88px 88px,
    #f39c12 89px 89px,
    #f39c12 90px 90px,
    #f39c12 91px 91px,
    #f39c12 92px 92px,
    #f39c12 93px 93px,
    #f39c12 94px 94px,
    #f39c12 95px 95px,
    #f39c12 96px 96px,
    #f39c12 97px 97px,
    #f39c12 98px 98px,
    #f39c12 99px 99px,
    #f39c12 100px 100px;
}

.icon-shadow-red {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
    /*background-color: #3498db; /* teal */*/
    /*height: 150px;*/
    /*width: 150px;*//*
    font-size: 100px;
    line-height: 150px;*/
    text-align: center;
    display: block;
    overflow: hidden;

    text-shadow: #c0392b 1px 1px,
    #c0392b 2px 2px,
    #c0392b 3px 3px,
    #c0392b 4px 4px,
    #c0392b 5px 5px,
    #c0392b 6px 6px,
    #c0392b 7px 7px,
    #c0392b 8px 8px,
    #c0392b 9px 9px,
    #c0392b 10px 10px,
    #c0392b 11px 11px,
    #c0392b 12px 12px,
    #c0392b 13px 13px,
    #c0392b 14px 14px,
    #c0392b 15px 15px,
    #c0392b 16px 16px,
    #c0392b 17px 17px,
    #c0392b 18px 18px,
    #c0392b 19px 19px,
    #c0392b 20px 20px,
    #c0392b 21px 21px,
    #c0392b 22px 22px,
    #c0392b 23px 23px,
    #c0392b 24px 24px,
    #c0392b 25px 25px,
    #c0392b 26px 26px,
    #c0392b 27px 27px,
    #c0392b 28px 28px,
    #c0392b 29px 29px,
    #c0392b 30px 30px,
    #c0392b 31px 31px,
    #c0392b 32px 32px,
    #c0392b 33px 33px,
    #c0392b 34px 34px,
    #c0392b 35px 35px,
    #c0392b 36px 36px,
    #c0392b 37px 37px,
    #c0392b 38px 38px,
    #c0392b 39px 39px,
    #c0392b 40px 40px,
    #c0392b 41px 41px,
    #c0392b 42px 42px,
    #c0392b 43px 43px,
    #c0392b 44px 44px,
    #c0392b 45px 45px,
    #c0392b 46px 46px,
    #c0392b 47px 47px,
    #c0392b 48px 48px,
    #c0392b 49px 49px,
    #c0392b 50px 50px,
    #c0392b 51px 51px,
    #c0392b 52px 52px,
    #c0392b 53px 53px,
    #c0392b 54px 54px,
    #c0392b 55px 55px,
    #c0392b 56px 56px,
    #c0392b 57px 57px,
    #c0392b 58px 58px,
    #c0392b 59px 59px,
    #c0392b 60px 60px,
    #c0392b 61px 61px,
    #c0392b 62px 62px,
    #c0392b 63px 63px,
    #c0392b 64px 64px,
    #c0392b 65px 65px,
    #c0392b 66px 66px,
    #c0392b 67px 67px,
    #c0392b 68px 68px,
    #c0392b 69px 69px,
    #c0392b 70px 70px,
    #c0392b 71px 71px,
    #c0392b 72px 72px,
    #c0392b 73px 73px,
    #c0392b 74px 74px,
    #c0392b 75px 75px,
    #c0392b 76px 76px,
    #c0392b 77px 77px,
    #c0392b 78px 78px,
    #c0392b 79px 79px,
    #c0392b 80px 80px,
    #c0392b 81px 81px,
    #c0392b 82px 82px,
    #c0392b 83px 83px,
    #c0392b 84px 84px,
    #c0392b 85px 85px,
    #c0392b 86px 86px,
    #c0392b 87px 87px,
    #c0392b 88px 88px,
    #c0392b 89px 89px,
    #c0392b 90px 90px,
    #c0392b 91px 91px,
    #c0392b 92px 92px,
    #c0392b 93px 93px,
    #c0392b 94px 94px,
    #c0392b 95px 95px,
    #c0392b 96px 96px,
    #c0392b 97px 97px,
    #c0392b 98px 98px,
    #c0392b 99px 99px,
    #c0392b 100px 100px;
}

.rect{
	height: 150px;
}

.ColorBG{
	background-image: url("../file/background/bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.ColorBG-flip{
    background-image: url("../file/background/BG-Filp.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}



.ColorBG-bottom{
    background-image: url("../file/background/BottomBG.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.height-150{
    height:150px;
    padding-left:0.5em; 
    padding-top:0.2em; 
    padding-bottom: 1em;    
    line-height: 150px;
}

.height-75{
    height:75px;
    padding-left:0.5em; 
    /*padding-top:0.2em; */
    padding-bottom: 1em;    
    line-height: 75px;
}

.blue-box{
    background-color: rgba(52, 152, 219,1);
    border-bottom: 5px solid rgba(41, 128, 185,1);
}

.blue-box-alpha{
    background-color: rgba(52, 152, 219,0.2);
    border-bottom: 5px solid rgba(41, 128, 185,0.2);
}

.blue-text-shadow{
    text-shadow:    rgba(41, 128, 185,1) 1px 1px,
                    rgba(41, 128, 185,1) 2px 2px,
                    rgba(41, 128, 185,1) 3px 3px;
}

.green-box{
    background-color: rgba(46, 204, 113,1);
    border-bottom: 5px solid rgba(39, 174, 96,1);
}

.green-box-alpha{
    background-color: rgba(46, 204, 113,0.2);
    border-bottom: 5px solid rgba(39, 174, 96,0.2);
}

.green-text-shadow{
    text-shadow:    rgba(39, 174, 96,1) 1px 1px,
                    rgba(39, 174, 96,1) 2px 2px,
                    rgba(39, 174, 96,1) 3px 3px;
}

.yellow-box{
    background-color: rgba(241, 196, 15, 1);
    border-bottom: 5px solid rgba(243, 156, 18, 1);
}

.yellow-box-alpha{
    background-color: rgba(241, 196, 15, 0.2);
    border-bottom: 5px solid rgba(243, 156, 18, 0.2);
}

.yellow-text-shadow{
    text-shadow:    rgba(243, 156, 18, 1) 1px 1px,
                    rgba(243, 156, 18, 1) 2px 2px,
                    rgba(243, 156, 18, 1) 3px 3px;
}

.red-box{
    background-color: rgba(231, 76, 60, 1);
    border-bottom: 5px solid rgba(192, 57, 43, 1);
}

.red-box-alpha{
    background-color: rgba(231, 76, 60, 0.2);
    border-bottom: 5px solid rgba(192, 57, 43, 0.2);
}

.red-text-shadow{
    text-shadow:    rgba(192, 57, 43, 1) 1px 1px,
                    rgba(192, 57, 43, 1) 2px 2px,
                    rgba(192, 57, 43, 1) 3px 3px;
}