/* Empty. Add your own CSS if you like */
@font-face {
 font-family: 'thaisans';
 src:url('../file/fonts/thaisanslite_r1-webfont.eot');
 src:url('../file/fonts/thaisanslite_r1-webfont.eot?iefix') format('eot'),
     url('../file/fonts/thaisanslite_r1-webfont.woff') format('woff'),
     url('../file/fonts/thaisanslite_r1-webfont.ttf') format('truetype'),
     url('../file/fonts/thaisanslite_r1-webfont.svg#webfontCXAunSZT') 
     format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'champagne';
 src:url('../file/fonts/champagne__limousines-webfont.eot');
 src:url('../file/fonts/champagne__limousines-webfont.eot?iefix') format('eot'),
     url('../file/fonts/champagne__limousines-webfont.woff') format('woff'),
     url('../file/fonts/champagne__limousines-webfont.ttf') format('truetype'),
     url('../file/fonts/champagne__limousines-webfont.svg#webfontCXAunSZT') 
     format('svg');
 font-weight: normal;
 font-style: normal;
}

*{
	font-family: thaisans !important;
}

.thin-font{
	font-family: champagne !important;
}

.center{
	text-align: center;
	
}

.fullchoice{
 	display: block;
	margin-right: 0;
	margin-left: 0;
	border-right-width: 0;
	border-left-width: 0;
	border-radius: 0; 
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
	text-decoration: none;
	font-size: 2em;
	color: black;
	text-shadow: 0 0 10px white;
	white-space: nowrap;
}

.fullchoice>a{
	width: 100%;
}
.fullchoice:nth-of-type(1){
	/*background-color: #FFA39E;*/
	background: repeating-linear-gradient(
	  45deg,
	  #FFA39E,
	  #FFA39E 10px,
	  #FF8A83 10px,
	  #FF8A83 20px
	);
	border-left: 0.5em solid #FF4741;
}

.fullchoice:nth-of-type(2){
	/*background-color: #FFD591;*/
	background: repeating-linear-gradient(
	  45deg,
	  #FFD591,
	  #FFD591 10px,
	  #FFC86E 10px,
	  #FFC86E 20px
	);
	border-left: 0.5em solid #FFB938;

}

.fullchoice:nth-of-type(3){
	/*background-color: #98E881;*/
	background: repeating-linear-gradient(
	  45deg,
	  #98E881,
	  #98E881 10px,
	  #78E844 10px,
	  #78E844 20px
	);
	border-left: 0.5em solid #78E844;
}

.fullchoice:nth-of-type(4){
	/*background-color: #9AE8DE;*/
	background: repeating-linear-gradient(
	  45deg,
	  #9AE8DE,
	  #9AE8DE 10px,
	  #50E8C9 10px,
	  #50E8C9 20px
	);
	border-left: 0.5em solid #52E8E5;
}

.question{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 17%, rgba(201,201,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(17%,rgba(255,255,255,1)), color-stop(100%,rgba(201,201,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 17%,rgba(201,201,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 17%,rgba(201,201,201,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 17%,rgba(201,201,201,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 17%,rgba(201,201,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9',GradientType=0 ); /* IE6-9 */
	/*margin-top: 0.2em !important;*/
	padding: 0.3em 0.1em 0.3em 0.1em;
	margin-bottom: 0;
}

.box-set{	
	padding: 0.5em 0.2em 0.5em 0.2em;
	margin: 0;
	text-shadow: 0 0 5px white;
}

.light-yellow{
	background-color: #FACA70;
}

.mid-yellow{
	background-color: #FCB623;	

}

.strip-yellow{
	background: repeating-linear-gradient(
	  45deg,
	  #FACA70,
	  #FACA70 8px,
	  #FCB623 8px,
	  #FCB623 16px
	);
	border-left: 0.2em solid #FCB623;
}
.under-yellow{
	border-bottom: 0.2em solid #FCB623;
}

.icon-sign{
	font-size: 15em;	
	color: white;
	/*text-shadow: 6px 6px 0px #F82014;*/
	text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.strip-red{
	background: repeating-linear-gradient(
	  45deg,
	  #FFA39E,
	  #FFA39E 10px,
	  #FF8A83 10px,
	  #FF8A83 20px
	);

	border-bottom: 0.2em solid #FF4741;	
}

.strip-blue{
	background: repeating-linear-gradient(
	  45deg,
	  #9AE8DE,
	  #9AE8DE 10px,
	  #50E8C9 10px,
	  #50E8C9 20px
	);
}

.mid-blue{
	background-color: #50E8C9;
}

.under-blue{	
	border-bottom: 0.2em solid #50E8C9;
}

.strip-green{
	background: repeating-linear-gradient(
	  45deg,
	  #98E881,
	  #98E881 10px,
	  #78E844 10px,
	  #78E844 20px
	);
	border-bottom: 0.2em solid #78E844;
	font-size: 2em;

}

.strip-dark-blue{
	background: repeating-linear-gradient(
	  45deg,
	  #001AFD ,
	  #001AFD 8px,
	  #000F91 8px,
	  #000F91 16px
	);
	border-bottom: 0.2em solid #000F91;
	font-size: 2em;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.fixed {
	position: fixed;
}

.start-button{
	color:#9AEF3D;
	font-size: 25em;
	text-shadow: 0 1px 0 #84EA13, 
               0 2px 0 #7EE012,
               0 3px 0 #71C910,
               0 4px 0 #65B40E,
               0 5px 0 #5CA40D,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.huge-text{
	font-size: 4em;
	color:white;
	height: 1em;
	line-height: 1em;
    z-index: 10;
    text-decoration: none;
    
}

.medium-text{
    font-size: 2.5em;
    color:white;
    height: 1em;
    line-height: 1em;
    z-index: 10;
    text-decoration: none;
    
}

.title-text{
    font-size: 1.8em;
    color:white;
    height: 1em;
    line-height: 1em;
    z-index: 10;
    text-decoration: none;
    
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}

.float-left{
	float:left;
}

.float-right{
    float:right;
}

.clear{
	clear:both;
}
.full-width{
	width:100%;
}

.clear-search {
  font-size: 18px;
}

.mark-result {
	/*height: 1.5em;*/
	top: 0;
	width: 100%;
	margin: 0 !important;
	color: rgba(0,0,0,0);
}

#progressbar {
  padding: 3px;
  margin: 5px;
  border: 2px solid #3795F2;
}

#progressbar > div {
   background-color: #3795F2;
   width: 0%; /* Adjust with JavaScript */
   height: 20px;
}

.blue-square{
	/*background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #70D8F5),
		color-stop(1, #2197FF)
	);
	background-image: -o-linear-gradient(bottom, #70D8F5 0%, #2197FF 100%);
	background-image: -moz-linear-gradient(bottom, #70D8F5 0%, #2197FF 100%);
	background-image: -webkit-linear-gradient(bottom, #70D8F5 0%, #2197FF 100%);
	background-image: -ms-linear-gradient(bottom, #70D8F5 0%, #2197FF 100%);
	background-image: linear-gradient(to bottom, #70D8F5 0%, #2197FF 100%);
*/
	background-color: #3498DB;
	border-bottom: 5px solid #2990B9;
	/*-moz-box-shadow:     0 0 10px #000000;
   -webkit-box-shadow:  0 0 10px #000000;
   box-shadow:          0 0 10px #000000;*/
}

.green-square{
	/*background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #A1F570),
		color-stop(1, #46FF21)
	);
	background-image: -o-linear-gradient(bottom, #A1F570 0%, #46FF21 100%);
	background-image: -moz-linear-gradient(bottom, #A1F570 0%, #46FF21 100%);
	background-image: -webkit-linear-gradient(bottom, #A1F570 0%, #46FF21 100%);
	background-image: -ms-linear-gradient(bottom, #A1F570 0%, #46FF21 100%);
	background-image: linear-gradient(to bottom, #A1F570 0%, #46FF21 100%);
*/
	background-color: #2ECC71;
	border-bottom: 5px solid #27AE60;
	/*-moz-box-shadow:     0 0 10px #000000;
   -webkit-box-shadow:  0 0 10px #000000;
   box-shadow:          0 0 10px #000000;*/
}

.on-left{
	left: 1em;
	text-align: left;
}

hr.fancy-line { 
    border: 0; 
    height: 2px;

}
hr.fancy-line:before {
    top: -5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;
    top: 1px;
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: radial-gradient(ellipse at left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 75%);
}

/*body, hr.fancy-line:after {
    background: #f4f4f4;
}*/

.icon-shadow-blue {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
    /*background-color: #3498db; /* teal */*/
    /*height: 150px;*/
    /*width: 150px;*/
    font-size: 100px;
    line-height: 150px;
    text-align: center;
    display: block;
    overflow: hidden;

    text-shadow: #2980b9 1px 1px,
    #2980b9 2px 2px,
    #2980b9 3px 3px,
    #2980b9 4px 4px,
    #2980b9 5px 5px,
    #2980b9 6px 6px,
    #2980b9 7px 7px,
    #2980b9 8px 8px,
    #2980b9 9px 9px,
    #2980b9 10px 10px,
    #2980b9 11px 11px,
    #2980b9 12px 12px,
    #2980b9 13px 13px,
    #2980b9 14px 14px,
    #2980b9 15px 15px,
    #2980b9 16px 16px,
    #2980b9 17px 17px,
    #2980b9 18px 18px,
    #2980b9 19px 19px,
    #2980b9 20px 20px,
    #2980b9 21px 21px,
    #2980b9 22px 22px,
    #2980b9 23px 23px,
    #2980b9 24px 24px,
    #2980b9 25px 25px,
    #2980b9 26px 26px,
    #2980b9 27px 27px,
    #2980b9 28px 28px,
    #2980b9 29px 29px,
    #2980b9 30px 30px,
    #2980b9 31px 31px,
    #2980b9 32px 32px,
    #2980b9 33px 33px,
    #2980b9 34px 34px,
    #2980b9 35px 35px,
    #2980b9 36px 36px,
    #2980b9 37px 37px,
    #2980b9 38px 38px,
    #2980b9 39px 39px,
    #2980b9 40px 40px,
    #2980b9 41px 41px,
    #2980b9 42px 42px,
    #2980b9 43px 43px,
    #2980b9 44px 44px,
    #2980b9 45px 45px,
    #2980b9 46px 46px,
    #2980b9 47px 47px,
    #2980b9 48px 48px,
    #2980b9 49px 49px,
    #2980b9 50px 50px,
    #2980b9 51px 51px,
    #2980b9 52px 52px,
    #2980b9 53px 53px,
    #2980b9 54px 54px,
    #2980b9 55px 55px,
    #2980b9 56px 56px,
    #2980b9 57px 57px,
    #2980b9 58px 58px,
    #2980b9 59px 59px,
    #2980b9 60px 60px,
    #2980b9 61px 61px,
    #2980b9 62px 62px,
    #2980b9 63px 63px,
    #2980b9 64px 64px,
    #2980b9 65px 65px,
    #2980b9 66px 66px,
    #2980b9 67px 67px,
    #2980b9 68px 68px,
    #2980b9 69px 69px,
    #2980b9 70px 70px,
    #2980b9 71px 71px,
    #2980b9 72px 72px,
    #2980b9 73px 73px,
    #2980b9 74px 74px,
    #2980b9 75px 75px,
    #2980b9 76px 76px,
    #2980b9 77px 77px,
    #2980b9 78px 78px,
    #2980b9 79px 79px,
    #2980b9 80px 80px,
    #2980b9 81px 81px,
    #2980b9 82px 82px,
    #2980b9 83px 83px,
    #2980b9 84px 84px,
    #2980b9 85px 85px,
    #2980b9 86px 86px,
    #2980b9 87px 87px,
    #2980b9 88px 88px,
    #2980b9 89px 89px,
    #2980b9 90px 90px,
    #2980b9 91px 91px,
    #2980b9 92px 92px,
    #2980b9 93px 93px,
    #2980b9 94px 94px,
    #2980b9 95px 95px,
    #2980b9 96px 96px,
    #2980b9 97px 97px,
    #2980b9 98px 98px,
    #2980b9 99px 99px,
    #2980b9 100px 100px;
}

.icon-shadow-green {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
    /*background-color: #3498db; /* teal */*/
    /*height: 150px;*/
    /*width: 150px;*/
    font-size: 100px;
    line-height: 150px;
    text-align: center;
    display: block;
    overflow: hidden;

    text-shadow: #27ae60 1px 1px,
    #27ae60 2px 2px,
    #27ae60 3px 3px,
    #27ae60 4px 4px,
    #27ae60 5px 5px,
    #27ae60 6px 6px,
    #27ae60 7px 7px,
    #27ae60 8px 8px,
    #27ae60 9px 9px,
    #27ae60 10px 10px,
    #27ae60 11px 11px,
    #27ae60 12px 12px,
    #27ae60 13px 13px,
    #27ae60 14px 14px,
    #27ae60 15px 15px,
    #27ae60 16px 16px,
    #27ae60 17px 17px,
    #27ae60 18px 18px,
    #27ae60 19px 19px,
    #27ae60 20px 20px,
    #27ae60 21px 21px,
    #27ae60 22px 22px,
    #27ae60 23px 23px,
    #27ae60 24px 24px,
    #27ae60 25px 25px,
    #27ae60 26px 26px,
    #27ae60 27px 27px,
    #27ae60 28px 28px,
    #27ae60 29px 29px,
    #27ae60 30px 30px,
    #27ae60 31px 31px,
    #27ae60 32px 32px,
    #27ae60 33px 33px,
    #27ae60 34px 34px,
    #27ae60 35px 35px,
    #27ae60 36px 36px,
    #27ae60 37px 37px,
    #27ae60 38px 38px,
    #27ae60 39px 39px,
    #27ae60 40px 40px,
    #27ae60 41px 41px,
    #27ae60 42px 42px,
    #27ae60 43px 43px,
    #27ae60 44px 44px,
    #27ae60 45px 45px,
    #27ae60 46px 46px,
    #27ae60 47px 47px,
    #27ae60 48px 48px,
    #27ae60 49px 49px,
    #27ae60 50px 50px,
    #27ae60 51px 51px,
    #27ae60 52px 52px,
    #27ae60 53px 53px,
    #27ae60 54px 54px,
    #27ae60 55px 55px,
    #27ae60 56px 56px,
    #27ae60 57px 57px,
    #27ae60 58px 58px,
    #27ae60 59px 59px,
    #27ae60 60px 60px,
    #27ae60 61px 61px,
    #27ae60 62px 62px,
    #27ae60 63px 63px,
    #27ae60 64px 64px,
    #27ae60 65px 65px,
    #27ae60 66px 66px,
    #27ae60 67px 67px,
    #27ae60 68px 68px,
    #27ae60 69px 69px,
    #27ae60 70px 70px,
    #27ae60 71px 71px,
    #27ae60 72px 72px,
    #27ae60 73px 73px,
    #27ae60 74px 74px,
    #27ae60 75px 75px,
    #27ae60 76px 76px,
    #27ae60 77px 77px,
    #27ae60 78px 78px,
    #27ae60 79px 79px,
    #27ae60 80px 80px,
    #27ae60 81px 81px,
    #27ae60 82px 82px,
    #27ae60 83px 83px,
    #27ae60 84px 84px,
    #27ae60 85px 85px,
    #27ae60 86px 86px,
    #27ae60 87px 87px,
    #27ae60 88px 88px,
    #27ae60 89px 89px,
    #27ae60 90px 90px,
    #27ae60 91px 91px,
    #27ae60 92px 92px,
    #27ae60 93px 93px,
    #27ae60 94px 94px,
    #27ae60 95px 95px,
    #27ae60 96px 96px,
    #27ae60 97px 97px,
    #27ae60 98px 98px,
    #27ae60 99px 99px,
    #27ae60 100px 100px;
}

.icon-shadow-yellow {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
    /*background-color: #3498db; /* teal */*/
    /*height: 150px;*/
    /*width: 150px;*/
    /*font-size: 100px;*/
    line-height: 750px;
    text-align: center;
    display: block;
    overflow: hidden;

    text-shadow: #f39c12 1px 1px,
    #f39c12 2px 2px,
    #f39c12 3px 3px,
    #f39c12 4px 4px,
    #f39c12 5px 5px,
    #f39c12 6px 6px,
    #f39c12 7px 7px,
    #f39c12 8px 8px,
    #f39c12 9px 9px,
    #f39c12 10px 10px,
    #f39c12 11px 11px,
    #f39c12 12px 12px,
    #f39c12 13px 13px,
    #f39c12 14px 14px,
    #f39c12 15px 15px,
    #f39c12 16px 16px,
    #f39c12 17px 17px,
    #f39c12 18px 18px,
    #f39c12 19px 19px,
    #f39c12 20px 20px,
    #f39c12 21px 21px,
    #f39c12 22px 22px,
    #f39c12 23px 23px,
    #f39c12 24px 24px,
    #f39c12 25px 25px,
    #f39c12 26px 26px,
    #f39c12 27px 27px,
    #f39c12 28px 28px,
    #f39c12 29px 29px,
    #f39c12 30px 30px,
    #f39c12 31px 31px,
    #f39c12 32px 32px,
    #f39c12 33px 33px,
    #f39c12 34px 34px,
    #f39c12 35px 35px,
    #f39c12 36px 36px,
    #f39c12 37px 37px,
    #f39c12 38px 38px,
    #f39c12 39px 39px,
    #f39c12 40px 40px,
    #f39c12 41px 41px,
    #f39c12 42px 42px,
    #f39c12 43px 43px,
    #f39c12 44px 44px,
    #f39c12 45px 45px,
    #f39c12 46px 46px,
    #f39c12 47px 47px,
    #f39c12 48px 48px,
    #f39c12 49px 49px,
    #f39c12 50px 50px,
    #f39c12 51px 51px,
    #f39c12 52px 52px,
    #f39c12 53px 53px,
    #f39c12 54px 54px,
    #f39c12 55px 55px,
    #f39c12 56px 56px,
    #f39c12 57px 57px,
    #f39c12 58px 58px,
    #f39c12 59px 59px,
    #f39c12 60px 60px,
    #f39c12 61px 61px,
    #f39c12 62px 62px,
    #f39c12 63px 63px,
    #f39c12 64px 64px,
    #f39c12 65px 65px,
    #f39c12 66px 66px,
    #f39c12 67px 67px,
    #f39c12 68px 68px,
    #f39c12 69px 69px,
    #f39c12 70px 70px,
    #f39c12 71px 71px,
    #f39c12 72px 72px,
    #f39c12 73px 73px,
    #f39c12 74px 74px,
    #f39c12 75px 75px,
    #f39c12 76px 76px,
    #f39c12 77px 77px,
    #f39c12 78px 78px,
    #f39c12 79px 79px,
    #f39c12 80px 80px,
    #f39c12 81px 81px,
    #f39c12 82px 82px,
    #f39c12 83px 83px,
    #f39c12 84px 84px,
    #f39c12 85px 85px,
    #f39c12 86px 86px,
    #f39c12 87px 87px,
    #f39c12 88px 88px,
    #f39c12 89px 89px,
    #f39c12 90px 90px,
    #f39c12 91px 91px,
    #f39c12 92px 92px,
    #f39c12 93px 93px,
    #f39c12 94px 94px,
    #f39c12 95px 95px,
    #f39c12 96px 96px,
    #f39c12 97px 97px,
    #f39c12 98px 98px,
    #f39c12 99px 99px,
    #f39c12 100px 100px;
}

.rect{
	height: 150px;
}

.ColorBG{
	background-image: url("../file/background/bg.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.ColorBG-flip{
    background-image: url("../file/background/BG-Filp.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.height-150{
    height:150px;
    padding-left:0.5em; 
    padding-top:0.2em; 
    padding-bottom: 1em;    
    line-height: 150px;
}

.height-75{
    height:75px;
    padding-left:0.5em; 
    /*padding-top:0.2em; */
    padding-bottom: 1em;    
    line-height: 75px;
}

.blue-box{
    background-color: rgba(52, 152, 219,1);
    border-bottom: 5px solid rgba(41, 128, 185,1);
}

.blue-box-alpha{
    background-color: rgba(52, 152, 219,0.2);
    border-bottom: 5px solid rgba(41, 128, 185,0.2);
}

.green-box{
    background-color: rgba(46, 204, 113,1);
    border-bottom: 5px solid rgba(39, 174, 96,1);
}

.green-box-alpha{
    background-color: rgba(46, 204, 113,0.2);
    border-bottom: 5px solid rgba(39, 174, 96,0.2);
}

.yellow-box{
    background-color: rgba(241, 196, 15, 1);
    border-bottom: 5px solid rgba(243, 156, 18, 1);
}

.yellow-box-alpha{
    background-color: rgba(241, 196, 15, 0.2);
    border-bottom: 5px solid rgba(243, 156, 18, 0.2);
}