<ion-view title="About Wordzee" class="ColorBG-flip">
  
  <ion-content has-header="true">

    <div class="float-right align-right" style="width80%; padding-right: 1em; padding-top: 1em">
      <h1><b class="thin-font">About Wordzee</b></h1>
      <hr style="border-color: rgba(231, 76, 60,0.5)">
      <h4 class="thin-font">
        Wordzee version : 2.0.0
        <br>
        Release Date : 07/31/2014
        <hr style="border-color: rgba(241, 196, 15,0.5)">
        Fonts Credit :
        <br>
        <b class="thin-font">Thai Sans Lite by Letsego</b>
        <br>
        <b class="thin-font">Champagne & Limousines by Lauren Thompson</b>        
        <hr style="border-color: rgba(46, 204, 113,0.5)">
        Made by
        <br>
        <img src="img/icon.jpg" style="height:150px; width:auto;" alt="">
        <hr style="border-color: rgba(52, 152, 219,0.5)">
        Thank You for Choosing Our App!
      </h4>

    </div>
    <div class="clear"></div>



  </ion-content>
</ion-view>
