<ion-view hide-back-button="true" title="Chect the answer">
  <ion-content class="has-header">    
    <div class="center">
    	
        <h3 class="mid-blue box-set under-blue" style="float:left; width:50%; height:2em; font-size:200%">You got</h3>
        <h3 class="strip-blue box-set under-blue" style="float:right; width:50%; height:2em; font-size:200%">{{score}}</h3>
        <a href="#/tab/game" style="text-decoration: none; color:black"><div class="strip-green box-set" style="width:100%; clear:both; height:2em;" >Back to the main page <i class="ion-chevron-right" style="color:green"></i></div></a>
        
      </div>   <!-- End Incorrect -->
    </div>
  </ion-content>
</ion-view>
