<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{word.key}}" class="ColorBG-bottom">
  <ion-content has-header="true">

    <div style="width:100%; text-align:center">
      <img src="img/working.jpg" style="width:80%; padding-top:2em; align-center" class="align-center">
    </div>
    

    <h1 class="thin-font align-center">The duck is working on!!!</h1>



  </ion-content>
</ion-view>
