<ion-view hide-back-button="true" title="Game">
  <ion-content class="has-header padding">    
    <div class="center">
    	<div style="height:50px"></div>
    	<div class="relative align-center ">
    		<a href="#/tab/game/question">
	    		<div class="absolute align-center full-width">
	    			<i class="ion-ios7-circle-filled icon-sign start-button"></i>
	    		</div>
	    		<div class="absolute overlay huge-text align-center full-width">
	    			Start
	    		</div>    			
    		</a>
    	</div>    	
    	<div style="height:50px"></div>
    </div>
  </ion-content>
</ion-view>
