<ion-view hide-back-button="true" title="Game" class="ColorBG">
  <ion-content class="has-header">    
    <div class="center">
    	<div class="relative align-center ">
    		<a href="#/tab/game/question" class="huge-text align-left">
	    		<div class="align-center blue-square rect full-width" style="width:70%; float:left; text-align:left; padding-left:0.5em; padding-top:0.2em">
                    <span class="on-left thin-font">Free <br> Mode</span>
	    		</div>  
                <div class="align-center blue-square rect full-width" style="width:30%; float:right">
                    <span class="on-left"><i class="icon-shadow-blue ion-checkmark"></i></span>
                </div> 			
                <div class="clear"></div>
    		</a>
            <a href="#/tab/game/sixty/0" class="huge-text align-left">
                <div class="align-center green-square rect full-width" style="width:70%; float:left; text-align:left; padding-left:0.5em; padding-top:0.2em">
                    <span class="on-left thin-font">60 secs <br> Mode</span>
                </div>  
                <div class="align-center green-square rect full-width" style="width:30%; float:right">
                    <span class="on-left"><i class="icon-shadow-green ion-ios7-stopwatch"></i></span>
                </div>          
                <div class="clear"></div>
            </a>
    	</div>    	
    	<div style="height:50px"></div>
    </div>
  </ion-content>
</ion-view>
