<ion-view title="Welcome" class="ColorBG">
  <ion-nav-buttons side="right">
    <a href="#/tab/dash/about">
      <button class="button" ng-click="">
        <i class="ion-information-circled"></i>
      </button>
    </a>
  </ion-nav-buttons>
  

  <ion-content class="has-header" >
    <div class="clear"></div>
    <!-- ============================= Suggested Word =============================== -->
    <div  ng-show="word" class="yellow-box title-text thin-font height-75 align-center float-left yellow-text-shadow" style="width:10%; border:none;">
      <i class="ion-radio-waves"></i>
    </div>
    <div  ng-show="word" class="yellow-box title-text thin-font height-75 align-left float-left yellow-text-shadow" style="width:90%; border:none;">
      Suggested Word
    </div>
    
    <div ng-show="word" class="yellow-box title-text thin-font height-75 align-center float-left icon-shadow-yellow" style="width:50%;">
      {{word | uppercase}}
    </div>

    <div ng-show="word" class="yellow-box-alpha title-text  height-75 align-center float-right" style="width:50%; color:black; font-size:1.5em;   padding:0; border-top: 5px solid rgba(243, 156, 18, 1);">
      {{meaning}}
    </div>
    
    <div class="clear"></div>
    <!-- ============================= End Suggested Word =============================== -->
    <!-- ====================== Free Mode Hightscore Display ======================== -->
    <div class="green-box title-text thin-font height-75 align-center float-left green-text-shadow" style="width:10%;">
      <i class="ion-trophy"></i>
    </div>
    <div class="green-box title-text thin-font height-75 align-left float-left green-text-shadow" style="width:65%; font-size:1.5em">
      Free Mode Highscore
    </div>

    <div ng-show="highscore" class="green-box huge-text thin-font height-150 align-center float-right icon-shadow-green" style="width:25%;  padding:0">
      {{highscore}}
    </div>

    <div ng-show="highscore == null" class="green-box huge-text thin-font height-150 align-center float-right icon-shadow-green" style="width:25%;  padding:0">
      0
    </div>

    <div ng-show="highscore" class="green-box-alpha title-text  height-75 align-left float-left" style="width:75%; color:black;">
      {{highscorename}}
        <a href="#/tab/dash" class="align-right" style="text-decoration:none; color:black; font-size: 0.8em" ng-click="clearHS()">
                <i class="icon ion-close-circled"></i>
        </a>
    </div>
    <div ng-show="highscore == null" class="green-box-alpha title-text thin-font height-75 align-left float-left" style="width:75%; color:black;">
      No Highscore
    </div>

    <div class="clear"></div>
    <!-- ============================= End Free Mode Highscore Display ============================== -->

    <!-- ============================= 60 secs Mode Highscore Display =============================== -->

    <div class="blue-box title-text thin-font height-75 align-center float-left blue-text-shadow" style="width:10%;">
      <i class="ion-ribbon-a"></i>
    </div>
    <div class="blue-box title-text thin-font height-75 align-left float-left blue-text-shadow" style="width:65%; font-size:1.5em">
      60 secs Mode Highscore
    </div>

    <div ng-show="highscoreSixty" class="blue-box huge-text thin-font height-150 align-center float-right icon-shadow-blue" style="width:25%;  padding:0">
      {{highscoreSixty}}
    </div>

    <div ng-show="highscoreSixty == null" class="blue-box huge-text thin-font height-150 align-center float-right icon-shadow-blue" style="width:25%;  padding:0">
      0
    </div>

    <div ng-show="highscoreSixty" class="blue-box-alpha title-text  height-75 align-left float-left" style="width:75%; color:black;">
      {{highscorenameSixty}}
        <a href="#/tab/dash" class="align-right" style="text-decoration:none; color:black; font-size: 0.8em" ng-click="clearHSSixty()">
                <i class="icon ion-close-circled"></i>
        </a>
    </div>
    <div ng-show="highscoreSixty == null" class="blue-box-alpha title-text thin-font height-75 align-left float-left" style="width:75%; color:black;">
      No Highscore
    </div>
    <div class="clear"></div>
    <!-- ============================= End 60 secs Mode Highscore Display =============================== -->

    
  

  </ion-content>
</ion-view>
