<ion-view hide-back-button="true" title="Game" class="ColorBG-two">
  <ion-content class="has-header">    
    <div class="center">
    	<div class="relative align-center ">
    		<a href="#/tab/game/question" class="huge-text align-left">
	    		<div class="align-center green-box-alpha rect" style="width:70%; float:left; text-align:left; padding-left:0.5em; padding-top:0.2em">
                    <span class="on-left thin-font green-text-shadow">Free <br> Mode</span>
	    		</div>  
                <div class="align-center green-square rect" style="width:30%; float:right;">
                    <span class=""><i class="icon-shadow-green ion-checkmark" style=" font-size: 70px;  line-height: 150px;"></i></span>
                </div> 			
                <div class="clear"></div>
    		</a>
            <a href="#/tab/game/sixty/0" class="huge-text align-left">
                <div class="align-center blue-box-alpha rect" style="width:70%; float:left; text-align:left; padding-left:0.5em; padding-top:0.2em">
                    <span class="on-left thin-font blue-text-shadow">60 secs <br> Mode</span>
                </div>  
                <div class="align-center blue-square rect" style="width:30%; float:right;">
                    <span class=""><i class="icon-shadow-blue ion-ios7-stopwatch" style=" font-size: 70px;  line-height: 150px;"></i></span>
                </div>          
                <div class="clear"></div>
            </a>
            <a href="#/tab/game/working" class="huge-text align-left">
                <div class="align-center yellow-box-alpha rect" style="width:70%; float:left; text-align:left; padding-left:0.5em; padding-top:0.2em">
                    <span class="on-left thin-font yellow-text-shadow">Coming <br> Soon...</span>
                </div>  
                <div class="align-center yellow-square rect" style="width:30%; float:right;">
                    <span class=""><i class="icon-shadow-yellow ion-loop" style=" font-size: 70px;  line-height: 150px;"></i></span>
                </div>          
                <div class="clear"></div>
            </a>
    	</div>    	
    	<div style="height:50px"></div>
    </div>
  </ion-content>
</ion-view>
