<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{word.key}}" class="ColorBG-flip">
  <ion-content has-header="true">

    <div class="blue-box medium-text thin-font height-150 align-left float-left" style="width:70%; font-size:2.7em;">
      {{word.key | uppercase}}
    </div>
    <div class="blue-box huge-text thin-font height-150 float-right" style="width:30%; padding:0;">
        <span class="on-left"><i class="icon-shadow-blue ion-android-book"></i></span>
    </div>      
    <div class="clear"></div>

    <div class="align-center blue-box-alpha height-150 full-width medium-text" style="padding:0;  color:black">
      {{word.data}}
    </div>



  </ion-content>
</ion-view>
